.full-width-table {
  width: 100%;
}

// globals

#dropdownBasic {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 33px;
  height: 33px;
  border: 1px solid #A2B2C4;
  border-radius: 6px;
  background-color: transparent;
  svg {
    width: 8px;
    margin: auto;
    path {
      fill: #A2B2C4;
    }
  }
}
#dropdownBasic::after {
  border: none;
  display: none;
}

.dropdown-menu{

  svg{
    width: 14px;
    
    path {
      fill: #A2B2C4;
    }
  }
}
.dropdown-item {
  padding:5px 3px;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  margin: auto 0;
  margin-right: 5px;
}

// columns
.orderId {
  font: normal normal bold 13px/16px Montserrat;
  letter-spacing: 0.39px;
  color: #373E47;
}

.created-at-text {
  font: normal normal 600 13px/16px Montserrat;
  letter-spacing: 0.39px;
  color: #373E47;
  margin: auto 0;
}

.driver, .customer {
  svg {
    width: 12px;
  }
  .name {
    font: normal normal 600 14px/18px Montserrat;
    letter-spacing: 0.42px;
    color: #373E47;
  }
  .phone {
    font: normal normal medium 12px/15px Montserrat;
    letter-spacing: 0.36px;
    color: #373E47;
  }
  p {
    margin: 0;
  }

}

.status {
  width: 9ch;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  font: normal normal medium 13px/16px Montserrat;
  letter-spacing: 0px;
  background-color: transparent;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new {
  background-color: #FEF0E9;
  color:#F26C29;
  margin: auto 0;
}
.cancelled {
  background-color: #70070012;
  color:#700700;;
  margin: auto 0;
}
.delivered {
  background-color: #F2FBEE;
  color:#7ED959;
  margin: auto 0;
}

// checkbox
// .mat-checkbox-background {
//   background-color: #F26C29 !important;
// }

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-back {
  background-color: #F26C29;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  
  background-color: #F26C29;
}

.mat-paginator-container {
  display: flex;
  justify-content: space-between;
}

// selected item
.selected-item {
  background-color: #7ED959;
}