.sidebar {
    font-family: "Montserrat";
    height: 100vh;
    width: 100vw;
    ul {
        background-color: #F9F9FA;
        min-width: 180px;
        align-items: center;
        padding:10px 0px;
        li {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 14px;
        }
        li svg {
            display: inline-block;
            width: 18px;
            margin-right: 15px;
        }
        li a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #778799;
            padding-right: 15px;
            margin-right: 15px;
            // padding-left: 0 ;
            // padding-right: 0 ;
            width: 100%;
        }
        
        
    }
    
}

span {
    background-color: #F26C29;
    border-radius: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding-top: 3px;
}

.active {
    color: #F26C29 !important;
    background-color: transparent !important;
    position: relative;
}
a:not(.active) + span {
    background-color: lighten($color: #F26C29, $amount: 30%);
    color: #F26C29;
}
.active::after {
    content: " ";
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    background-color: #F26C29;
    border-radius: 50px;
    
}

// .tab-pane {
//     width: 100%;
// }
// .tab-content {
//     width: 90%;
// }